@import 'tailwindcss';

@font-face {
  font-family: 'Monotalic';
  src: url('fonts/Monotalic-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Monotalic';
  src: url('fonts/Monotalic-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Spotify Mix';
  src: url('fonts/SpotifyMix-UltraItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: 'Monotalic';
  color: white;
}

h1 {
  font-family: 'Spotify Mix';
  color: #ce5bd3;
  text-align: center;
  line-height: 0.9;
  transform: rotate(-6deg);
  font-size: 40px;
  margin: 0px 0px 60px -30px;
}

h2 {
  font-family: 'Monotalic';
  color: white;
  text-align: center;
  line-height: 0.9;
  font-size: 40px;
  margin: 0px -7px 60px;
}

h3 {
  font-family: 'Monotalic';
  color: white;
  text-align: center;
  line-height: 0.9;
  font-size: 30px;
  margin: 0px -7px 30px;
}

body {
  background-image: url('./assets/winternight.jpg');
  background-blend-mode: overlay;
  background-repeat: repeat-y;
  background-attachment: fixed;
}

input::placeholder {
  font-size: 20px;
}

.team-name-label {
  font-size: 25px;
  font-family: 'Monotalic';
  color: white;
}

.team-score-label {
  font-size: 50px;
  font-family: 'Monotalic';
  font-weight: bold;
}

.team-points-label {
  font-size: 50px;
  font-family: 'Monotalic';
  font-weight: bold;
}

.custom-marker div {
  width: 16px;
  height: 16px;
  background: #e11d48; /* rot */
  border-radius: 50%;
  border: 2px solid white;
}

/* =====================
   HERO TITLE
===================== */

.hero-title {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(3) rotate(-6deg);
  transition: transform 2s linear, top 2s ease-out;
  cursor: pointer;
  z-index: 20;
}

.hero-title span {
  opacity: 0;
  transition: opacity 0.4s ease;
}

/* Endzustand */
.hero-title.is-final {
  top: 80px;
  transform: translate(-50%, 0) scale(1) rotate(-6deg);
}

/* =====================
   SPINNER
===================== */

.spinner {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(7, 2, 46); /* optional */
  z-index: 10;
  transition: opacity 3s ease;
  filter: hue-rotate(300deg);
}

.spinner-img {
  width: 5000vw;
  height: auto;
  animation: spin 5.5s linear infinite;
  mix-blend-mode: hard-light;
  filter: opacity(0.35);
}

.spinner.is-hidden {
  opacity: 0;
  pointer-events: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
